.bg-body-tertiary{
    height: 7%;
    font-size: 30px;
}
.logo{
    font-size: 10px;
    background-color: yellow;
    height: 100%;
    padding: 0px;
}
.me-2{
    height: 55px;
    width: 400px;
    font-size: 30px;
}

.search-button{
    height: 55px;
    font-size:30px;
}